$yellow : #ff0;
$blue : #00f;
$red : #f00;
$purple : #80f;
$orange : #f80;
$green : #080;
$brown : #654321;
$black : #000;
$white : #eee;
$highlight : rgba(255, 255, 255, .6);
$ball_outline : #666;
$table : #a62021;
$pocket_housing : #999;
$pocket : #000;
$text : #fff;
